version: '3.8'
services:
    postgres:
        image: postgres:13
        environment:
            POSTGRES_USER: nestjs
            POSTGRES_PASSWORD: nestjs
            POSTGRES_DB: nestjs
        ports:
            - '5433:5432'
        volumes:
            - pgdata:/var/lib/postgresql/data

volumes:
    pgdata:
